.vs/*

Projet_Xamarin_CEMEMA/Projet_Xamarin_CEMEMA/obj/*
Projet_Xamarin_CEMEMA/Projet_Xamarin_CEMEMA/bin/*

Projet_Xamarin_CEMEMA/Projet_Xamarin_CEMEMA.Android/obj/*
Projet_Xamarin_CEMEMA/Projet_Xamarin_CEMEMA.Android/bin/*

Projet_Xamarin_CEMEMA/Projet_Xamarin_CEMEMA.iOS/obj/*
Projet_Xamarin_CEMEMA/Projet_Xamarin_CEMEMA.iOS/bin/*